@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;500;700&display=swap');

:root {
  --toolbar-height: 48px;
  --img-plaholder-txt-color: #3a4a42;
}

::-webkit-scrollbar-track {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #36b37f;
  border-radius: 100vw;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

body * {
  font-family: Inter, -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', "Open Sans", "Helvetica Neue", sans-serif;
}

:is(.btn):enabled {
  background-color: #36b37f;
  color: #fff;
}

:is(.btn):hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

:is(.btn):active {
  animation: btn 0.1s linear 1;
  background-color: #008552;
  color: #fff;
}

@keyframes btn {
  50% { transform: scale(0.8); }
}

button {
  cursor: pointer;
}

.toolbar {
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: var(--toolbar-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

footer a {
  display: inline-block;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  text-decoration: none;
}

.toolbar a {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  color: #28352f;
}

.btn-trigger {
  border: none;
  background: none;
  padding: 14px 24px;
}

.btn-trigger:hover {
  cursor: pointer;
}

.headline {
  margin-top: var(--toolbar-height);
  background-image: url(./assets/img/bg-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 64px 24px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.headline h1,
.headline h2 {
  color: #172b4d;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
  flex-direction: column;
  text-align: center;
}

.headline h2 span {
  align-self: center;
  text-align: center;
}

.green-txt {
  color: #36b37f;
}

.supporting-txt {
  margin: 58px auto;
  font-weight: 440;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  text-align: center;
  max-width: 822px;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.headline ul li {
  display: inline-block;
  padding: 10px;
}

.to-bottom-btn {
  align-self: center;
  margin-top: 29px;
  margin-bottom: 70px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.works {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.works h2 {
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-bottom: 22px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.hr {
  border: 2px solid #36b37e;
  width: 15%;
  border-radius: 24px;
  margin-bottom: 62px;
}

.img-plaholder {
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  width: fit-content;
}

.img-plaholder img {
  width: 100%;
  height: 270px;
}

.txt-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding-bottom: 24px;
  min-height: 261px;
  margin-top: -8px;
  z-index: 2;
}

.txt-content h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--img-plaholder-txt-color);
  padding: 16px;
  text-align: center;
}

.txt-content ul {
  display: block;
  margin: 0;
  margin-bottom: 29px;
}

.txt-content ul li {
  display: inline-block;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 16px;
  background: #ebf0ee;
  color: var(--img-plaholder-txt-color);
  margin: 0 3px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.txt-content p {
  margin: 0;
}

.txt-content a {
  text-decoration: none;
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-areas: 'img-plaholder';
  row-gap: 24px;
  justify-content: center;
}

.grid-container .img-plaholder {
  width: 100%;
  min-height: 474px;
}

.text {
  background-image: url(./assets/img/about-me-bg.svg), url(./assets/img/about-me-bg1.svg);
  background-repeat: no-repeat;
  background-position: right top, left bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text h2 {
  padding-top: 64px;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.text p {
  margin: 0 auto;
  max-width: 750px;
  padding: 24px 12px;
  color: #172b4d;
  text-align: center;
  font-weight: 400;
}

.text a {
  text-decoration: none;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  align-items: center;
  color: #fff;
}

.cards {
  padding: 0 24px;
  padding-top: 59px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.cards > * {
  flex-basis: 367px;
  flex-shrink: 1;
}

.placeholder-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cards .img-plaholder .placeholder-icon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-top: 40px;
  background-color: #fff;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
}

.cards .img-plaholder .placeholder-icon img {
  width: 40px;
  height: 40px;
}

.cards .img-plaholder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form h2 {
  text-align: center;
  padding: 40px 24px 24px 24px;
  color: #172b4d;
  max-width: 710px;
}

.cards .img-plaholder h3 {
  padding-top: 64px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.footer ul li {
  display: inline-block;
  padding: 0 10px;
  margin: 0;
}

.form form ul li {
  padding-bottom: 24px;
}

.cards .img-plaholder ul li {
  display: inline-block;
  margin: 0 3px;
  margin-top: 8px;
  padding: 12px;
  color: #36b37e;
  background-color: #fff;
  letter-spacing: 0.03em;
  border-radius: 8px;
}

::placeholder {
  font-size: 15px;
  line-height: 24px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 24px;
  background-image: url(./assets/img/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  margin: 0 auto;
  padding-bottom: 170px;
  gap: 2em;
  max-width: 1340px;
}

.form form {
  flex-basis: 40%;
  flex-grow: 1;
}

.form form ul {
  list-style: none;
}

.form form .error-message {
  text-align: start;
  padding-left: 27px;
  color: #fd2e09;
  transition: ease-in-out 0.6s;
}

.form form ul li input {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 15px;
  width: 88%;
  font-size: 15px;
  line-height: 24px;
}

.form form ul li textarea {
  padding: 12px;
  border: 1px solid #60c095;
  border-radius: 4px;
  width: 88%;
  font-size: 15px;
  line-height: 24px;
  max-width: 88%;
}

textarea::placeholder {
  color: #091e42;
}

.form-btn {
  display: block;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #36b37f;
  border-radius: 4px;
  padding: 12px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  :is(.works, .about-me, .form, .headline, .footer).blur {
    filter: blur(5px);
  }

  .btn-trigger {
    z-index: 9999;
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 18px;
  }

  .btn-trigger .top {
    height: 3px;
    width: 22px;
    background: rgb(51, 51, 51);
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
  }

  .top.cross {
    transform: rotate(-45deg);
    bottom: 22px;
  }

  .btn-trigger .middle {
    bottom: 15px;
    height: 3px;
    width: 22px;
    background: rgb(51, 51, 51);
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
  }

  .middle.cross {
    transform: rotate(45deg);
    bottom: 22px;
  }

  .btn-trigger .bottom {
    bottom: 23.51px;
    height: 3px;
    width: 22px;
    background: rgb(51, 51, 51);
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
  }

  .bottom.disappear {
    display: none;
  }

  .toolbar__2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: fixed;
    height: 70vh;
    top: 0;
    left: -105%;
    padding-block: 60px;
    background: #fff;
    mix-blend-mode: normal;
    z-index: 999;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: all 0.5s;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  }

  .toolbar__2.show {
    left: 0;
  }

  .toolbar__2 a {
    display: block;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #3a4a42;
  }

  .hr2 {
    display: none;
  }

  .close {
    position: fixed;
    top: 45px;
    right: 30px;
    height: 21px;
    width: 21px;
    display: none;
  }

  .close.showpopup {
    display: block;
  }

  .pop-up {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 100%;
    bottom: 0;
    margin: 0 auto;
    margin-top: 10px;
    transition: all 0.4s;
    background: #fff;
    z-index: 99999;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .pop-up.showpopup {
    right: 0;
  }

  .pop-up .mobile {
    width: 100%;
    height: auto;
  }

  .pop-up h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .pop-up ul {
    align-self: flex-start;
    display: block;
    margin: 0;
  }

  .pop-up ul li {
    display: inline-block;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 16px;
    background: #ebf0ee;
    color: var(--img-plaholder-txt-color);
    margin: 0 3px;
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .pop-up ul li p {
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #3a4a42;
  }

  .pop-up p {
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .pop-up .btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .pop-up .btn {
    background-color: #36b37f;
    padding: 12px 16px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .pop-up .btn img {
    margin-left: 10px;
  }

  .pop-up .btnsh1 .side {
    display: none;
  }
}

@media (min-width: 900px) {
  :root {
    --toolbar-height: 72px;
  }

  :is(.welcome, .btn-trigger) {
    display: none;
  }

  :is(.toolbar__2, .works, .about-me, .form, .headline, .footer).blur {
    filter: blur(5px);
    background: rgba(213, 211, 208, 0.39);
  }

  .headline h1::before {
    background: #fff;
    animation: typewriter 6s steps(25) 1s forwards;
  }

  .closeD {
    margin-bottom: 4px;
    align-self: flex-end;
    height: 39px;
    width: 39px;
    display: none;
  }

  .closeD.showpopup {
    display: block;
  }

  .pop-up {
    padding: 24px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: -100%;
    margin: 0 auto;
    width: 80%;
    margin-top: 10px;
    transition: all 0.6s;
    background: #fff;
    z-index: 99999;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 8px;
  }

  .pop-up.showpopup {
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 25px;
    bottom: 25px;
  }

  .pop-up .desktop {
    width: 100%;
    height: auto;
  }

  .pop-up .btnsh1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .pop-up .btnsh1 h1 {
    flex-basis: 450px;
    flex-grow: 1;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .pop-up .btnsh1 .side {
    margin: 21.4px;
    margin-right: 0;
    margin-left: 50px;
  }

  .pop-up ul {
    align-self: flex-start;
    display: block;
    margin: 0;
  }
  
  .pop-up ul li {
    display: inline-block;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 16px;
    background: #ebf0ee;
    color: var(--img-plaholder-txt-color);
    margin: 0 3px;
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .pop-up p {
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .text p {
    font-size: 20px;
    line-height: 32px;
  }

  .pop-up ul li p {
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #344563;
  }

  .pop-up .btns {
    display: none;
  }

  .pop-up .btn {
    background-color: #36b37f;
    padding: 12px 16px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .pop-up .btn img {
    margin-left: 10px;
  }

  .h1-anime {
    align-self: center;
    position: relative;
    width: max-content;
  }

  .h1-anime::before,
  .h1-anime::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .h1-anime::after {
    width: 0.125em;
    background: #172b4d;
    animation: typewriter 6s steps(25) 1s forwards, blink 750ms steps(24) infinite;
  }

  @keyframes typewriter {
    to { left: 100%; }
  }

  @keyframes blink {
    to {
      background: transparent;
    }
  }

  .form-btn {
    margin-left: 22px;
  }

  .works h2 {
    padding: 40px;
  }

  .works br {
    display: none;
  }

  .hr {
    display: none;
  }

  .toolbar {
    background: transparent;
  }

  footer a {
    display: none;
  }

  .toolbar__2 {
    margin: 0 auto;
    padding-block: 16px;
  }

  .toolbar__2 a {
    padding: 10px 12px;
    color: #344563;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .headline {
    background-image: url(./assets/img/Header-llustration-desktop.svg);
    background-size: cover;
    padding-top: 220px;
    padding-bottom: 24px;
    margin-top: 0;
  }

  .headline h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .supporting-txt {
    font-size: 20px;
    line-height: 32px;
    padding-block: 24px;
    margin: 0 auto;
  }

  .to-bottom-btn {
    margin-bottom: 350px;
  }

  .text h2 {
    font-size: 40px;
    line-height: 52px;
  }

  .form h2 {
    padding-top: 40px;
    flex-basis: 30%;
    flex-shrink: 1;
    font-size: 30px;
    line-height: 52px;
  }

  .form form {
    max-width: 600px;
  }

  .pop:hover {
    animation: pop 0.3s linear 1;
  }

  @keyframes pop {
    50% { transform: scale(1.5); }
  }
}

@media (min-width: 730px) {
  .grid-container {
    grid-template-areas: 'imgplaholder imgplaholder';
    column-gap: 34px;
  }
}

@media (min-width: 1000px) {
  body {
    background-image: url(./assets/img/Frame.svg), url(./assets/img/Frame1.svg), url(./assets/img/illustration-2-contact-form-desktop.svg);
    background-position: 0 calc(100% - 70px), right calc(100% - 86px), 300px calc(100% - 86px);
    background-repeat: no-repeat;
  }

  .form {
    background: none;
  }

  .grid-container {
    grid-template-areas: 'imgplaholder imgplaholder imgplaholder';
    column-gap: 40px;
  }

  .text {
    background-image: url(./assets/img/illustration-about-me-1-desktop.svg), url(./assets/img/illustration-about-me-2-desktop.svg);
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    padding-top: 50px;
  }
}

@media (min-width: 1400px) {
  .grid-container .img-plaholder {
    width: 420px;
    min-width: 390px;
  }
}
